.profile-card {
    padding: 2rem;  /* Change from 25rem to 2rem */
}
.logo :hover { 
    transform: scale(1.5);
}
.profilecard {
    background-image: url(/textbg.gif);
    background-position: center;
}
.text-display {
 font-size: 1rem;
  font-weight: 700;
  padding-top:1rem;
  padding-bottom: 1rem;
  color: #ffffff; /* White core */
  text-shadow: 
    0 0 3px rgba(239, 68, 68, 1),   /* Sharp inner red border */
    0 0 8px rgba(239, 68, 68, 0.8), /* Medium red glow */
    0 0 15px rgba(239, 68, 68, 0.4);/* Soft outer red dispersion */
}

.profile-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
